.cabeçalho__menu-hamburguer {
    width: 35px;
    height: 40px;
    background-image: url("../imgs/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabeçalho {
    background-color: var(--branco--principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco--principal);
    font-size: 1rem;
}

.lista-menu__titulo {
    color: var(--laranja);
    text-transform: capitalize;
    font-weight: 700;
}

.lista-menu__link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-weight: 500;
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.opcoes{
    display: none;
}

.container__texto {
    display: none;
}

@media screen and ( min-width:1024px ) {
    .cabeçalho__menu-hamburguer{
        display: none;
    }
    .container__titulo, 
    .containter__titulo--negrito{
        font-family: var(--fonte--secundaria);
        font-size: 1.875rem;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .containter__titulo--negrito {
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__item:hover {
        background-color: var(--azul-degrade);
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .opcoes__link {
        color: var(--preto);
    }

    .container__imagem-transparente {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }
}

@media screen and ( min-width:1728px ) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
    }

    .cabeçalho {
        pad: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }
    
    .container__texto {
        display: block;
    }
}